abstract.tex
introduction.tex
preliminaries.tex
definitions.tex
limitations.tex
generalcompleteness.tex
npeqcompleteness.tex
intermediary.tex
conclusion.tex
acknowledgments.tex
mycomplexity.sty
equivalence.bib

.*
#*
*#
*~

*.aux
*.log
*.bbl
*.bcf
*.blg
*.brf
*.nav
*.out
*.snm
*.toc
*.xml

*.dvi
*.ps
*.pdf

logo.png
references/
aliascnt.sty
algorithm2e.sty
beamerposter.sty
cclicenses.sty
complexity.sty
